---
http_interactions:
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/238?api_key=<THEMOVIEDB_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - 9d48db5c244b9c3e3d162ef155211175
      X-Memc-Age:
      - '6417'
      X-Memc-Expires:
      - '18928'
      Etag:
      - W/"889b14697f9f1982dac83f25abf8d7e5"
    body:
      encoding: ASCII-8BIT
      string: '{"adult":false,"backdrop_path":"/tmU7GeKVybMWFButWEGl2M4GeiP.jpg","belongs_to_collection":{"id":230,"name":"The
        Godfather Collection","poster_path":"/zqV8MGXfpLZiFVObLxpAI7wWonJ.jpg","backdrop_path":"/3WZTxpgscsmoUk81TuECXdFOD0R.jpg"},"budget":6000000,"genres":[{"id":18,"name":"Drama"},{"id":80,"name":"Crime"}],"homepage":"http://www.thegodfather.com/","id":238,"imdb_id":"tt0068646","original_language":"en","original_title":"The
        Godfather","overview":"Spanning the years 1945 to 1955, a chronicle of the
        fictional Italian-American Corleone crime family. When organized crime family
        patriarch, Vito Corleone barely survives an attempt on his life, his youngest
        son, Michael steps in to take care of the would-be killers, launching a campaign
        of bloody revenge.","popularity":111.685,"poster_path":"/3bhkrj58Vtu7enYsRolD1fZdja1.jpg","production_companies":[{"id":4,"logo_path":"/gz66EfNoYPqHTYI4q9UEN4CbHRc.png","name":"Paramount","origin_country":"US"},{"id":10211,"logo_path":null,"name":"Alfran
        Productions","origin_country":"US"}],"production_countries":[{"iso_3166_1":"US","name":"United
        States of America"}],"release_date":"1972-03-14","revenue":245066411,"runtime":175,"spoken_languages":[{"english_name":"English","iso_639_1":"en","name":"English"},{"english_name":"Italian","iso_639_1":"it","name":"Italiano"},{"english_name":"Latin","iso_639_1":"la","name":"Latin"}],"status":"Released","tagline":"An
        offer you can''t refuse.","title":"The Godfather","video":false,"vote_average":8.709,"vote_count":18744}'
  recorded_at: Sat, 14 Oct 2023 01:00:49 GMT
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/238?api_key=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"status_code":7,"status_message":"Invalid API key: You must be granted
        a valid key.","success":false}

        '
  recorded_at: Mon, 23 Oct 2023 18:06:45 GMT
- request:
    method: get
    uri: https://api.themoviedb.org/3/movie/238?api_key=76adb02f4b2681aea6c730067ea196a9
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Memc:
      - HIT
      X-Memc-Key:
      - 9d48db5c244b9c3e3d162ef155211175
      X-Memc-Age:
      - '20784'
      X-Memc-Expires:
      - '3092'
      Etag:
      - W/"dcd4f5e151[...]
